.products {
  padding: 5px;
}

.products__list {
  display: grid;
  gap: 5px;
}

.product-card {
  border: 1px solid var(--border-color);
  padding: 5px;
}

@media (min-width: 600px) {
  .products__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .products__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .products__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
