.header {
  background-color: var(--accent-color);
  padding: 8px;
}

.header__logo,
.header__title {
  font-size: 3.5rem;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.header__menu {
  display: flex;
  flex-direction: column;
  .menu__item {
    color: var(--text-color);
    text-decoration: none;
  }
  .menu__item:hover {
    text-decoration: underline;
  }
}

@media (min-width: 600px) {
  .header__nav {
    display: flex;
  }
  .header__menu {
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    align-items: center;
  }
}

.header__banner {
    background: 
        linear-gradient( rgba(0,0,0,0.5), rgba(0,0,0,0.5) ),
        url(../img/baby-yoda.svg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    color: var(--accent-color);
}